{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <h2>Delete Worker</h2>

    <p>
        Are you sure you want to delete
        <strong>{{ object.user.username }}</strong>?
    </p>

    <form method="post">

        {% csrf_token %}

        <button type="submit" class="btn btn-danger">
            Yes, Delete
        </button>

        <a href="{% url 'workers_list' %}"
           class="btn btn-secondary">
            Cancel
        </a>

    </form>

</div>

{% endblock %}